Repository ethan-hurst/shiny-spoon: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "node scripts/check-file-guards.js",
    "eslint --fix",
    "git add"
  ],
  "*.{ts,tsx}": [
    "tsc --noEmit --skipLibCheck"
  ]
}

Implement AI-powered insights with demand forecasting and recommendations
  __tests__/database/ai-insights.test.sql
  __tests__/unit/components/insights/nl-chat.test.tsx
  __tests__/unit/lib/ai/anomaly-detection.test.ts
  __tests__/unit/lib/ai/demand-forecasting.test.ts
  app/(dashboard)/insights/page.tsx
  app/actions/insights.ts
  app/api/ai/chat/route.ts
  components/features/insights/anomaly-alerts.tsx
  components/features/insights/demand-forecast-chart.tsx
  components/features/insights/nl-chat.tsx
  components/features/insights/price-recommendations.tsx
  components/features/insights/reorder-suggestions.tsx
  lib/ai/ai-service.ts
  lib/ai/anomaly-detection.ts
  lib/ai/demand-forecasting.ts
  lib/ai/price-optimization.ts
  lib/ai/reorder-suggestions.ts
  supabase/migrations/20250130_prp_021_ai_insights.sql
  types/ai.types.ts
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

Implement AI-Powered Insights with comprehensive tests and actions
  .env.example
  PRPs/PRP-STATUS.md
  __tests__/ai/ai-service.test.ts
  __tests__/ai/anomaly-detection.test.ts
  __tests__/ai/demand-forecasting.test.ts
  __tests__/e2e/insights.spec.ts
  app/actions/insights.ts
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

Implement performance optimization with caching, metrics, and PWA
  .env.example
  PRPs/PRP-STATUS.md
  PRPs/Phase 7/PRP-023.md
  __tests__/performance/cache.test.ts
  __tests__/performance/metrics.test.ts
  app/api/analytics/vitals/route.ts
  app/api/products/optimized/route.ts
  app/offline/page.tsx
  hooks/use-performance.ts
  lib/cache/redis-client.ts
  lib/performance/metrics.ts
  next.config.optimized.js
  package.json
  public/manifest.json
  public/sw.js
  supabase/migrations/20250802_prp_023_performance.sql
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

Checkpoint before follow-up message
  PRPs/Phase 7/PRP-024.md
  supabase/migrations/20250803_prp_024_multi_tenant.sql
Due: none

feat: complete security dashboard and server actions
  app/actions/security.ts
  components/features/monitoring/security-dashboard.tsx
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat(PRP-024): Add distributed infrastructure components
  lib/cache/tenant-cache.ts
  lib/db/connection-pool.ts
  lib/queue/distributed-queue.ts
  package-lock.json
  package.json
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat(PRP-024): Add monitoring and rate limiting systems
  app/api/health/route.ts
  app/api/metrics/route.ts
  lib/rate-limit/distributed-limiter.ts
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat(PRP-024): Add Kubernetes deployment and tests
  __tests__/unit/lib/cache/tenant-cache.test.ts
  __tests__/unit/lib/rate-limit/distributed-limiter.test.ts
  k8s/deployment.yaml
  k8s/redis-deployment.yaml
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

docs: Update PRP status for completed PRP-024
  PRPs/PRP-STATUS.md
Due: none

feat: implement production deployment and monitoring
  app/api/cron/performance-cleanup/route.ts
  app/api/cron/security-monitor/route.ts
  components/features/monitoring/production-dashboard.tsx
  vercel.json
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat: implement React Native mobile app
  mobile/.gitignore
  mobile/App.tsx
  mobile/README.md
  mobile/app.json
  mobile/assets/adaptive-icon.png
  mobile/assets/favicon.png
  mobile/assets/icon.png
  mobile/assets/splash-icon.png
  mobile/index.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/src/contexts/AuthContext.tsx
  mobile/src/contexts/ThemeContext.tsx
  mobile/src/screens/DashboardScreen.tsx
  mobile/src/screens/InventoryScreen.tsx
  mobile/src/screens/LoginScreen.tsx
  mobile/src/screens/MonitoringScreen.tsx
  mobile/src/screens/OrdersScreen.tsx
  mobile/src/screens/ProfileScreen.tsx
  mobile/tsconfig.json
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat(PRP-024): Add production infrastructure components
  Dockerfile
  Dockerfile.worker
  app/api/cron/partition-maintenance/route.ts
  docker-compose.yml
  lib/config/env.ts
  middleware.ts
  supabase/migrations/20250803_prp_024_partition_functions.sql
  workers/index.ts
  workers/jobs/report-export.ts
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat(PRP-024): Complete production infrastructure
  app/(auth)/onboarding/page.tsx
  app/actions/organizations.ts
  app/api/metrics/prometheus/route.ts
  components/onboarding/wizard.tsx
  monitoring/grafana-dashboard.json
  next.config.js
  package-lock.json
  package.json
  supabase/migrations/20250803_organization_invites.sql
  workers/jobs/ai-analysis.ts
  workers/jobs/bulk-import.ts
  workers/jobs/email-notification.ts
  workers/jobs/sync-job.ts
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat: implement comprehensive advanced analytics system
  app/actions/advanced-analytics.ts
  components/features/analytics/advanced-analytics-dashboard.tsx
  lib/analytics/predictive-analytics.ts
  lib/rate-limit.ts
  supabase/migrations/20250129_create_analytics_tables.sql
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat(PRP-024): Add final production components
  DEPLOYMENT.md
  __tests__/integration/horizontal-scaling.test.ts
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat: complete Shopify B2B integration implementation
  lib/integrations/shopify/api-client.ts
  lib/integrations/shopify/connector.ts
  lib/integrations/shopify/transformers.ts
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat(PRP-025): Implement k6 load testing framework
  PRPs/Phase 7/PRP-025.md
  k6/config/base.js
  k6/lib/scenarios.js
  k6/tests/load-test.js
  k6/tests/smoke-test.js
Due: node scripts/check-file-guards.js, eslint --fix

feat: complete comprehensive API documentation system
  app/api/docs/index/route.ts
  app/api/docs/route.ts
  app/api/v1/auth/api-keys/route.ts
  app/api/v1/inventory/route.ts
  app/api/v1/orders/route.ts
  app/api/v1/products/route.ts
  app/developers/api-docs/page.tsx
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat(PRP-025): Add stress and spike testing scenarios
  k6/benchmarks/baseline.json
  k6/config/tiers.js
  k6/tests/breaking-point.js
  k6/tests/flash-sale.js
  k6/tests/spike-test.js
  k6/tests/stress-test.js
Due: node scripts/check-file-guards.js, eslint --fix

feat(PRP-025): Complete load testing implementation with tests
  .github/workflows/load-tests.yml
  PRPs/PRP-STATUS.md
  __tests__/e2e/load-testing.spec.ts
  __tests__/unit/load-testing.test.ts
  k6/dashboard/dashboard-data.json
  k6/dashboard/index.html
  k6/tests/soak-test.js
  scripts/check-performance-regression.js
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat(PRP-026): Implement universal ERP adapter framework
  PRPs/Phase 8/PRP-026.md
  lib/integrations/erp/base-erp-connector.ts
  lib/integrations/erp/erp-registry.ts
  lib/integrations/erp/types.ts
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat(PRP-026): Implement data transformation and conflict resolution
  lib/integrations/erp/conflict-resolver.ts
  lib/integrations/erp/transformers/schema-mapper.ts
  lib/integrations/erp/transformers/standard-transformers.ts
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat(PRP-026): Implement SAP connector and ERP orchestrator
  lib/integrations/erp/orchestrator.ts
  lib/integrations/erp/sap/sap-connector.ts
  lib/integrations/erp/sap/sap-types.ts
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat(PRP-026): Implement ERP configuration UI components
  components/integrations/erp/erp-selector.tsx
  components/integrations/erp/erp-setup-wizard.tsx
  components/integrations/erp/multi-erp-dashboard.tsx
  supabase/migrations/028_erp_integration_schema.sql
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat(PRP-027): Implement API Gateway with public API and documentation
  PRPs/PRP-STATUS.md
  PRPs/Phase 8/PRP-027.md
  __tests__/lib/api/middleware/index.test.ts
  __tests__/lib/integrations/erp/conflict-resolver.test.ts
  __tests__/lib/integrations/erp/schema-mapper.test.ts
  __tests__/lib/integrations/erp/standard-transformers.test.ts
  app/api/v1/products/[id]/route.ts
  app/api/v1/products/route.ts
  app/api/v1/webhooks/route.ts
  components/api/api-key-management.tsx
  lib/actions/api-keys.ts
  lib/actions/erp.ts
  lib/api/middleware/auth.ts
  lib/api/middleware/compose.ts
  lib/api/middleware/index.ts
  lib/api/middleware/rate-limit.ts
  lib/api/services/webhook-delivery.ts
  lib/api/types.ts
  lib/api/utils/response.ts
  supabase/migrations/029_api_gateway_schema.sql
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

Update PRP status: Complete API Gateway, add Phase 9 roadmap
  PRPs/PRP-STATUS.md
Due: none

PRP-019: Implement Custom Reports Builder
  app/(dashboard)/reports/builder/page.tsx
  app/actions/reports.ts
  components/features/reports/component-library.tsx
  components/features/reports/component-properties.tsx
  components/features/reports/data-source-manager.tsx
  components/features/reports/report-builder.tsx
  components/features/reports/report-canvas.tsx
  components/features/reports/report-component.tsx
  components/features/reports/report-preview.tsx
  components/features/reports/report-settings.tsx
  supabase/migrations/20250128_custom_reports.sql
  types/reports.types.ts
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

PRP-021: Implement AI-Powered Insights
  app/(dashboard)/insights/page.tsx
  components/features/ai/ai-anomaly-alerts.tsx
  components/features/ai/ai-insight-summary.tsx
  components/features/ai/ai-insights-dashboard.tsx
  components/features/ai/ai-insights-panel.tsx
  components/features/ai/ai-predictions-panel.tsx
  components/features/ai/ai-recommendations.tsx
  lib/ai/ai-service.ts
  package.json
  pnpm-lock.yaml
  supabase/migrations/20250128_ai_insights.sql
  test-supabase-connection.ts
  types/ai.types.ts
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

Update PRP status: Phase 5 complete with 25/32 PRPs (78% progress)
  PRPs/PRP-STATUS.md
Due: none

Fix missing IF NOT EXISTS in CREATE TABLE statements - pricing_rules.sql and customers.sql
  supabase/migrations/004_customers.sql
  supabase/migrations/005_pricing_rules.sql
Due: none

Fix missing IF NOT EXISTS in CREATE TABLE statements - sync_engine.sql
  supabase/migrations/012_sync_engine.sql
Due: none

Fix missing IF NOT EXISTS in CREATE TABLE statements - prp_tracking.sql
  supabase/migrations/011_prp_tracking.sql
Due: none

Fix missing IF NOT EXISTS in CREATE TABLE statements - accuracy_monitoring.sql
  supabase/migrations/010_accuracy_monitoring.sql
Due: none

Fix missing IF NOT EXISTS in CREATE TABLE statements - customers.sql (remaining tables)
  supabase/migrations/004_customers.sql
Due: none

Fix missing IF NOT EXISTS in CREATE TABLE statements - inventory_adjustments.sql
  supabase/migrations/003_inventory_adjustments.sql
Due: none

feat: Add comprehensive test utilities for React component testing
  __tests__/helpers/test-utils.tsx
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

WIP: Starting comprehensive migration audit - analyzing current state
  fix-migration-state.sql
  fixed-initial-schema.sql
  migration-dependency-analysis.md
  migration-test-plan.sql
  reset-to-100-percent.sql
  simple-setup.sql
  supabase/migrations/002_presence_tracking.sql
  supabase/migrations/009_available_inventory_function.sql
  supabase/migrations/017_shopify_integration.sql
  supabase/migrations/018_update_contract_with_items_rpc.sql
  supabase/migrations/019_alert_acknowledge_rpc.sql
  supabase/migrations/020_audit_trail_system.sql
  supabase/migrations/021_custom_reports_builder.sql
  supabase/migrations/022_ai_powered_insights.sql
  supabase/migrations/023_update_shopify_integration_rpc.sql
  supabase/migrations/024_update_shopify_sync_settings_rpc.sql
  supabase/migrations/025_analytics_dashboard.sql
  supabase/migrations/20250127_performance_monitoring.sql
  supabase/migrations/20250128_ai_insights.sql
  supabase/migrations/20250128_audit_trail.sql
  supabase/migrations/20250128_create_performance_tables.sql
  supabase/migrations/20250128_create_security_tables.sql
  supabase/migrations/20250128_custom_reports.sql
  supabase/migrations/20250129_create_analytics_tables.sql
Due: none

WIP: Added core functions consolidation and audit report
  MIGRATION_AUDIT_REPORT.md
  __tests__/unit/components/ui/button.test.tsx
  supabase/migrations/000_core_functions.sql
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck
