Repository ethan-hurst/shiny-spoon: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "node scripts/check-file-guards.js",
    "eslint --fix",
    "git add"
  ],
  "*.{ts,tsx}": [
    "tsc --noEmit --skipLibCheck"
  ]
}

feat: Add comprehensive component tests for UI, auth, and inventory components
  __tests__/unit/components/auth/login-form.test.tsx
  __tests__/unit/components/features/inventory/inventory-table.test.tsx
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat: Add comprehensive component tests for analytics and monitoring features
  __tests__/unit/components/features/analytics/metrics-cards.test.tsx
  __tests__/unit/components/features/monitoring/alert-health-monitor.test.tsx
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat: Add comprehensive test runner script and documentation
  __tests__/README.md
  scripts/run-component-tests.js
Due: node scripts/check-file-guards.js, eslint --fix

COMPLETE: Comprehensive migration audit and refactoring with production-ready fixes
  MIGRATION_DEPLOYMENT_GUIDE.md
  __tests__/helpers/test-utils.tsx
  jest.config.js
  scripts/cleanup-migrations.sql
  scripts/production-deployment.sql
  supabase/migrations/001_core_schema.sql
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

fix: Update Jest configuration and test utilities for proper module resolution
  __tests__/helpers/test-utils.tsx
  __tests__/unit/components/ui/simple-button.test.tsx
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

FIX: Resolved migration order issue - functions now created before table references
  MIGRATION_DEPLOYMENT_GUIDE.md
  scripts/run-component-tests.js
  supabase/migrations/000_core_functions.sql
  supabase/migrations/002_update_functions.sql
Due: node scripts/check-file-guards.js, eslint --fix

FIX: Removed problematic INSERT from core schema - retention policies now created by functions
  supabase/migrations/001_core_schema.sql
  supabase/migrations/002_update_functions.sql
Due: none

FIX: Fixed PostgreSQL constraint syntax - replaced IF NOT EXISTS with DO block
  scripts/production-deployment.sql
Due: none

FIX: Removed problematic time-based partial index - NOW() is not IMMUTABLE
  scripts/production-deployment.sql
Due: none

FIX: Fixed GET DIAGNOSTICS syntax - used separate variables for arithmetic
  scripts/production-deployment.sql
Due: none

FIX: Updated next.config.js to resolve Turbopack and deprecated options warnings
  __tests__/helpers/test-utils.tsx
  __tests__/unit/components/ui/input.test.tsx
  next.config.js
  package-lock.json
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

OPTIMIZE: Final next.config.js cleanup - moved to stable turbopack config and added performance optimizations
  next.config.js
Due: node scripts/check-file-guards.js, eslint --fix

Add comprehensive order fix verification system
  __tests__/load/order-fix-verification.test.ts
  __tests__/unit/components/ui/form.test.tsx
  app/(dashboard)/verification/page.tsx
  components/marketing/public-header.tsx
  components/wrapper/navbar.tsx
  lib/monitoring/order-verification.ts
  supabase/migrations/20250130_fix_user_registration_rls.sql
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

Refactor form tests and enhance verification page metrics
  __tests__/unit/components/ui/form.test.tsx
  app/(dashboard)/verification/page.tsx
  fix_user_registration.sql
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

Add comprehensive order fix verification system
  scripts/run-verification-tests.js
  supabase/migrations/20250130_order_verification_tables.sql
Due: node scripts/check-file-guards.js, eslint --fix

Add comprehensive documentation for order verification system
  __tests__/unit/components/ui/dialog.test.tsx
  docs/ORDER-VERIFICATION-SYSTEM.md
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

Remove outdated SQL script for user registration RLS policies
  __tests__/unit/components/ui/dialog.test.tsx
  app/actions/auth.ts
  app/marketing/page.tsx
  app/page.tsx
  check_rls_policies.sql
  check_user_profile.sql
  components/marketing/hero-section.tsx
  components/marketing/integration-logos.tsx
  components/marketing/trusted-by.tsx
  debug_login_issue.sql
  debug_login_query.sql
  debug_user_registration.sql
  fix_schema_issue.sql
  fix_trigger_function.sql
  fix_user_registration.sql
  lib/constants/navigation.ts
  lib/supabase/middleware.ts
  simple_rls_check.sql
  simple_trigger_fix.sql
  test_admin_client.js
  test_organization_functions.sql
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat: Add user menu component with dropdown and sign out functionality
  components/layout/user-menu.tsx
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat: Add dashboard header and mobile navigation components
  components/layout/dashboard-header.tsx
  components/layout/mobile-nav.tsx
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

Add comprehensive Dialog component tests
  __tests__/unit/components/ui/dialog.test.tsx
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

Add comprehensive Select component tests
  PRPs/PRP-STATUS.md
  PRPs/Phase 1/PRP-004-IMPLEMENTATION-SUMMARY.md
  __tests__/unit/components/ui/select.test.tsx
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

Add comprehensive Table component tests
  __tests__/unit/components/ui/table.test.tsx
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

Add comprehensive Card component tests
  __tests__/unit/components/ui/card.test.tsx
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

Add comprehensive Label component tests
  __tests__/unit/components/ui/label.test.tsx
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat: Implement authentication fix and deployment guide
  AUTHENTICATION_FIX_DEPLOYMENT_GUIDE.md
  AUTHENTICATION_ISSUE_FIX_SUMMARY.md
  app/actions/auth.ts
  app/page.tsx
  app/setup/page.tsx
  components/auth/login-form.tsx
  lib/supabase/client.ts
  lib/supabase/middleware.ts
  scripts/apply-rls-fix-corrected.sql
  scripts/apply-rls-fix.sql
  scripts/debug-auth-issue.js
  scripts/test-auth-fix.js
  supabase/migrations/20250131_fix_user_profile_rls_circular_dependency.sql
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

refactor: Update authentication flow and improve session handling
  app/actions/auth.ts
  app/api/auth/callback/route.ts
  app/auth/callback/route.ts
  app/page.tsx
  components/auth/login-form.tsx
  lib/auth-helpers.ts
  lib/supabase/middleware.ts
  lib/supabase/server.ts
  middleware.ts
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat: Enhance PRP generation process with comprehensive output artifacts and validation checks
  .claude/commands/generate-prp.md
  __tests__/load/bulk-operations.load.test.ts
  __tests__/policies/bulk-operations.rls.test.ts
  lib/flags/registry.ts
  package.json
  scripts/ci/check-coverage-delta.mjs
  scripts/ci/schema/prp-checklist.schema.json
  scripts/ci/validate-prp-checklist.mjs
  scripts/ci/verify-events.mjs
Due: node scripts/check-file-guards.js, eslint --fix, tsc --noEmit --skipLibCheck

feat: Add comprehensive PRP execution orchestrator with enhanced validation and error handling
  .claude/commands/execute-prp.md
  package.json
  scripts/prp/execute.mjs
Due: none
